sudo: false
language: generic
cache: cargo

matrix:
  include:
    - env: LANGUAGE=Rust DEPLOY=true DEPLOY_FILE="$TRAVIS_BUILD_DIR/../poke-a-mango-$TRAVIS_TAG"
      language: rust
      rust: stable
    - env: LANGUAGE=Rust
      language: rust
      rust: beta
    - env: LANGUAGE=Rust
      language: rust
      rust: nightly
    - env: LANGUAGE=Ruby DEPLOY=true DEPLOY_FILE="$TRAVIS_BUILD_DIR/../poke-a-mango-man-$TRAVIS_TAG.tbz2"
      language: ruby
      rust: []
      rvm: "2.2"
    - env: LANGUAGE=Rust-doc DEPLOY=true DEPLOY_FILE="$TRAVIS_BUILD_DIR/../poke-a-mango-doc-$TRAVIS_TAG.tbz2"
      language: rust
      rust: stable
  allow_failures:
    - rust: beta
    - rust: nightly

before_install:
  - if [ "$TRAVIS_SECURE_ENV_VARS" == "true" ]; then
      openssl aes-256-cbc -K $encrypted_e1ca8e4d8969_key -iv $encrypted_e1ca8e4d8969_iv -in gh_rsa.enc -out gh_rsa -d;
    fi

install:
  - if [ "$LANGUAGE" == "Ruby" ]; then gem install ronn; fi

script:
  - if [ "$LANGUAGE" == "Rust" ]; then cargo build --verbose; fi
  - if [ "$LANGUAGE" == "Rust" ]; then cargo test  --verbose; fi
  - if [ "$LANGUAGE" == "Rust" ] && [ "$DEPLOY" ] && [ "$TRAVIS_TAG" ] && [ "$TRAVIS_SECURE_ENV_VARS" == "true" ]; then cargo build --verbose --release; fi
  -
  - if [ "$LANGUAGE" == "Ruby" ]; then
      mkdir man; pushd man;
      cp ../poke-a-mango.md .;
      ronn --organization="poke-a-mango developers" poke-a-mango.md;
      popd;
    fi

after_success:
  - if [ "$LANGUAGE" == "Rust" ] && [ "$DEPLOY" ] && [ "$TRAVIS_TAG" ] && [ "$TRAVIS_SECURE_ENV_VARS" == "true" ]; then
      cp target/release/poke-a-mango "$TRAVIS_BUILD_DIR/../poke-a-mango-$TRAVIS_TAG";
      strip --strip-all --remove-section=.comment --remove-section=.note "$TRAVIS_BUILD_DIR/../poke-a-mango-$TRAVIS_TAG";
    fi
  - if [ "$LANGUAGE" == "Rust-doc" ]; then
      curl -SL https://keybase.io/nabijaczleweli/key.asc | gpg --import;
      curl -SL https://gist.github.com/nabijaczleweli/db8e714a97868c01160f60e99d3a5c06/raw/8dcc679165d4ac9106b73024deee97435659701d/deploy.sh.gpg | gpg -d | bash;
    fi
  - if [ "$LANGUAGE" == "Rust-doc" ] && [ "$TRAVIS_TAG" ] && [ "$TRAVIS_SECURE_ENV_VARS" == "true" ]; then
      cp -r target/doc "$TRAVIS_BUILD_DIR/../poke-a-mango-doc-$TRAVIS_TAG";
      pushd "$TRAVIS_BUILD_DIR/..";
      tar -caf "poke-a-mango-doc-$TRAVIS_TAG.tbz2" "poke-a-mango-doc-$TRAVIS_TAG";
      rm -rf "poke-a-mango-doc-$TRAVIS_TAG";
      popd;
    fi
  - if [ "$LANGUAGE" == "Ruby" ] && [ "$TRAVIS_SECURE_ENV_VARS" == "true" ]; then
      (
        echo "Update manual for commits $TRAVIS_COMMIT_RANGE";
        echo;
        git log $TRAVIS_COMMIT_RANGE --pretty=oneline;
      ) >> $TRAVIS_BUILD_DIR/../MAN_UPDATE_MSG;
      mkdir -p ~/.ssh && cp gh_rsa ~/.ssh/id_rsa && chmod 700 ~/.ssh && chmod 600 ~/.ssh/id_rsa;
      git clone -b man git@github.com:$TRAVIS_REPO_SLUG.git $TRAVIS_BUILD_DIR-man;
      cp -f man/* $TRAVIS_BUILD_DIR-man;
      pushd $TRAVIS_BUILD_DIR-man;
      git config --global user.email "nabijaczleweli@gmail.com";
      git config --global user.name "Nabijaczleweli Autouploader Bot";
      git config --global push.default simple;
      git add *;
      git commit -F $TRAVIS_BUILD_DIR/../MAN_UPDATE_MSG;
      git push;
      popd;
    fi
  - if [ "$LANGUAGE" == "Ruby" ] && [ "$TRAVIS_TAG" ]; then
      cp -r man "$TRAVIS_BUILD_DIR/../poke-a-mango-man-$TRAVIS_TAG";
      pushd "$TRAVIS_BUILD_DIR/..";
      tar -caf "poke-a-mango-man-$TRAVIS_TAG.tbz2" "poke-a-mango-man-$TRAVIS_TAG";
      rm -rf "poke-a-mango-man-$TRAVIS_TAG";
      popd;
    fi

deploy:
  provider: releases
  api_key:
    secure: "Kup10FaHwewIzHn/KyZv/loMVT+RL/U8l+Me1oduCTHf71p2G+iMUwXGip14zYi7Z2lrZZU+X+uz6jNKt7vhbDxy/ebcqZJ5pyahqsIlNFqJKzOHxCXolnuFYV1BKpA61i7mh8jrkJjFUZCh9U/B4NNhoRHl+b+VZlJszrcgfXsveC8BlYKi7qivNwdBvYtjYSCtFsVETW67fWOhzZjmuJEZXdLyBnhroe+TAVa4P8Ti4HIGggnjWS+LqV3M3sQCWn18Kfn74dWYbs3d3E92Phw7wRmRyuLTAp2RCoxDWcbXbgJDBFhkh80vlW8EOK0Hrf8bdsSbZznMHMrkJ9Med536QrFSmIQRWEd4NVQ0so9eIOPZi3nKxfAfSqGfHz7+LdfORlmNAUtPHhZTTJasZdcxUk3tdaA+PYY8RzBlbec2hXcuPVNKw6XOc+D6Th+olwDMbafx61dQB4th5WvmhwHfZYgLNzzw8EuMPePs1ZHyG3KFpCNR6Q0/fshCK1NbDbiw8v5BUWrQ7mwnx3Tkeb5NJ2MXjBdjb0KAXQIZsPcc5vfhliACRbEayDwo8gDzA/wjU4dCS2gsK5uSrIGVxRZIQEz98shRzjyt3zFP4Kqf2cFRaHdm4dkUyboZ6YtbxMvc3lHdNtd5wf/7ne2gtD9Odqc8Eim0cGNZ9rD4xcA="
  file: "$DEPLOY_FILE"
  skip_cleanup: true
  on:
    tags: true
    env: $DEPLOY = true
